<script setup lang='ts'>
import { defineProps } from 'vue'

const props = defineProps({
  id: Number,
  src: String,
  isNew: Boolean
})

const random = (low: number, high: number): number => {
  return low + Math.floor(Math.random() * (high - low + 1))
}

const ammenities = [
  { icon: 'bed', count: random(1, 4) },
  { icon: 'bath', count: 1 },
  { icon: 'skull', count: random(1, 2) },
  { icon: 'funnel-dollar', count: random(0, 1) },
]
</script>

<template>
  <router-link :to="{ name: 'billboardShow', params: { id: props.id }}" class="image-link">
    <div class='card'>
      <img :src="props.src"/>

      <div class='ammenities' >
        <div class='ammenity' v-for='(ammenity) in ammenities'
          :style='{ visibility: ammenity.count ? "visible" : "hidden" }'
          :key='ammenity.icon'>
          <i :class='`fas fa-${ammenity.icon}`' />
          <span>{{ ammenity.count }}</span>
        </div>
      </div>

      <!-- <div v-if='props.isNew' class='new'>
        NEW
      </div> -->
    </div>
  </router-link>
</template>

<style scoped>
.image-link {
  display: block;
  text-decoration: none;
}
.card {
  position: relative;

  display: grid;
  justify-content: start;
}

.card > img {
  max-width: 100%;
}

.card > .ammenities {
  color: white;
  font-size: 14px;
  background: black;

  padding: 0.6rem 0.8rem;

  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: start;
  grid-gap: 4px;
}
.ammenities > .ammenity {
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-template-rows: 1rem;
  grid-gap: 5px;
  align-items: center;
}
.ammenities > .ammenity > i {
}
.ammenities > .ammenity > span {
  text-decoration: none;
}

.new {
  position: absolute;
  top: 10px;
  right: -7px;

  padding: 5px 7px;

  color: white;
  font-weight: 600;
  background: var(--andco-red);
}
</style>
