<script setup lang="ts">
import { RouterView } from 'vue-router'
import NavBar from '@/components/NavBar.vue'

</script>

<template>
  <NavBar />
  <main>
    <RouterView />
  </main>
</template>

<style>
@import '@/assets/base.css';
body { 
  --max-width: 1300px;
  --padding-x: 20px;

  margin: 0;
}
</style>

<style scoped>
main {
  display: grid;
  grid-template-columns: minmax(auto, var(--max-width));
  justify-content: center;
  align-content: start;
  padding: 0 var(--padding-x);

  min-height: 100vh;
  padding-bottom: 20rem;
}
</style>
